{
    "Statements": [
        {
            "Sid": "DynamodbWildcard",
            "Effect": "Allow",
            "Action": [
                "dynamodb:*"
            ],
            "Resource": "*"
        }
    ]
}