{
    "ServiceStatements": [
        {
            "Sid": "AppMicroserviceBar",
            "Effect": "Allow",
            "Action": [
                "ec2:*",
                "acm:*",
                "cognito-idp:*",
                "cognito-identity:*",
                "apigateway:*",
                "cloudfront:*",
                "mobileanalytics:*",
                "cognito-sync:*",
                "execute-api:*"
            ],
            "Resource": "*"
        }
    ]
}