{
    "LegacyMicroserviceFoo": {
        "Policies": [
            "aws/Dynamodb",
            "aws/Lambda",
            "IamCreateRole",
            "services/LegacyMicroserviceFoo"
        ],
        "Pipelines": [
            {
                "Name": "Db",
                "Parameters": {
                    "IncludeEnvCfTemplateConfigs": "True",
                    "CfContainsLambda": "True",
                    "SdlcCodeBuildPost": "True",
                    "SdlcEcs": "True"
                }
            }
        ]
    },
    "Frontend": {
        "Policies": [
            "services/Frontend",
            "IamCreateRole"
        ]
    }
}