{
    "SsoAccount": {
        "AccountId": "012345678910"
    },
    "CicdAccount": {
        "AccountId": "012345678910"
    },
    "SdlcAccounts": {
        "Dev": {
            "AccountId": "012345678910"
        },
        "Qa": {
            "AccountId": "012345678910"
        },
        "Prod": {
            "AccountId": "012345678910"
        }
    },
    "PlayAccount": {
        "AccountId": "012345678910"
    }
}