{
    "Joe": {
        "Scopes": [
            "MicroserviceBar",
            "Frontend"
        ]
    },
    "Bob": {
        "Groups": [
            "Devs"
        ],
        "Policies": {
            "Sdlc": [
                "users/ReadOnly"
            ],
            "Cicd": [
                "users/Admin"
            ]
        }
    },
    "Tom": {
        "Groups": [
            "Ops"
        ]
    }
}