{
    "Statements": [
        {
            "Sid": "ResourceScopedApiGateway",
            "Effect": "Allow",
            "Action": [
                "apigateway:*"
            ],
            "Resource": "*"
        }
    ]
}