{
    "Statements": [
        {
            "Sid": "ResourceScopedApiGateway",
            "Effect": "Allow",
            "Action": [
                "apigateway:*"
            ],
            "Resource": "*",
            "Condition": {
                "StringEquals": {
                  "aws:ResourceTag/Scope": {
                    "Fn::Sub": "${Scope}"
                  }
                }
            }
        }
    ]
}