{
    "Statements": [
        {
            "Sid": "ResourceWildcardBackup",
            "Effect": "Allow",
            "Action": [
                "backup:*"
            ],
            "Resource": "*"
        }
    ]
}