{
    "Statements": [
        {
            "Sid": "ResourceWildcardCognito",
            "Effect": "Allow",
            "Action": [
                "cognito:*"
            ],
            "Resource": "*"
        }
    ]
}