{
    "Statements": [
        {
            "Sid": "ResourceWildcardEc2",
            "Effect": "Allow",
            "Action": [
                "ec2:*"
            ],
            "Resource": "*"
        }
    ]
}