{
    "Statements": [
        {
            "Sid": "ResourceWildcardEcr",
            "Effect": "Allow",
            "Action": [
                "ecr:*"
            ],
            "Resource": "*"
        }
    ]
}