{
    "Statements": [
        {
            "Sid": "ResourceWildcardIot",
            "Effect": "Allow",
            "Action": [
                "iot:*"
            ],
            "Resource": "*"
        }
    ]
}