{
    "Statements": [
        {
            "Sid": "ResourceWildcardRds",
            "Effect": "Allow",
            "Action": [
                "rds:*"
            ],
            "Resource": "*"
        }
    ]
}