{
    "Statements": [
        {
            "Sid": "ResourceWildcardRoute53",
            "Effect": "Allow",
            "Action": [
                "route53:*"
            ],
            "Resource": "*"
        }
    ]
}