{
    "Statements": [
        {
            "Sid": "ResourceWildcardSes",
            "Effect": "Allow",
            "Action": [
                "ses:*"
            ],
            "Resource": "*"
        }
    ]
}