{
    "Statements": [
        {
            "Sid": "ParameterStore",
            "Effect": "Allow",
            "Action": [
                "ssm:*"
            ],
            "Resource": [
                {
                    "Fn::Sub": "arn:aws:ssm:*:${AWS::AccountId}:parameter/${Environment}/${Scope}/*"
                }
            ]
        }
    ]
}