{
    "LegacyMicroserviceFoo": {
        "Policies": [
            "aws-resources-scoped/Dynamodb",
            "aws-resources-scoped/Lambda",
            "managed/IamCreateRole",
            "scopes/LegacyMicroserviceFoo"
        ],
        "Pipelines": [
            {
                "Name": "Db",
                "Parameters": {
                    "IncludeEnvCfTemplateConfigs": "True",
                    "CfContainsLambda": "True",
                    "SdlcCodeBuildPost": "True",
                    "SdlcEcs": "True"
                }
            }
        ]
    },
    "Frontend": {
        "Policies": [
            "scopes/Frontend",
            "managed/IamCreateRole"
        ]
    }
}