{
    "ServiceStatements": [
        {
            "Sid": "WildcardBackup",
            "Effect": "Allow",
            "Action": [
                "backup:*"
            ],
            "Resource": "*"
        }
    ]
}