{
    "ServiceStatements": [
        {
            "Sid": "WildcardCognito",
            "Effect": "Allow",
            "Action": [
                "cognito:*"
            ],
            "Resource": "*"
        }
    ]
}