{
    "ServiceStatements": [
        {
            "Sid": "WildcardEc2",
            "Effect": "Allow",
            "Action": [
                "ec2:*"
            ],
            "Resource": "*"
        }
    ]
}