{
    "ServiceStatements": [
        {
            "Sid": "WildcardEcr",
            "Effect": "Allow",
            "Action": [
                "ecr:*"
            ],
            "Resource": "*"
        }
    ]
}