{
    "ServiceStatements": [
        {
            "Sid": "WildcardIot",
            "Effect": "Allow",
            "Action": [
                "iot:*"
            ],
            "Resource": "*"
        }
    ]
}