{
    "ServiceStatements": [
        {
            "Sid": "WildcardRoute53",
            "Effect": "Allow",
            "Action": [
                "route53:*"
            ],
            "Resource": "*"
        }
    ]
}