{
    "ServiceStatements": [
        {
            "Sid": "WildcardSsm",
            "Effect": "Allow",
            "Action": [
                "Ssm:*"
            ],
            "Resource": "*"
        }
    ]
}